Source: media-index
Section: unknown
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: media-index
Architecture: any
Suggests: rpm
Depends: ${shlibs:Depends}, ${misc:Depends}, hyperestraier, bzip2, groff, libmp3-info-perl, wv, unzip, xpdf-utils, xlhtml, detex, rtf2html, gs-common
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
